In [1]:
import pandas as pd
import numpy as np

In [25]:
dfc =   pd.read_excel("c.xlsx")
dfgo = pd.read_excel("golang.xlsx")
dfjava = pd.read_excel("java.xlsx")
dfphp = pd.read_excel("php.xlsx")
dfpy = pd.read_excel("python.xlsx")

In [89]:
pd.concat([dfc,dfphp],axis=0)

,Unnamed: 0,title,salary,cop_name,cop_info,exprence,tags,welfare
0,0,Shanghai Xuhui District Xujiahui,15-25K,Micro Technology,Internet A round 20-99 people,3-5 years undergraduate,C/C++,"Year-end bonus, five social insurances and on..."
1,1,Shanghai Pudong New Area Lujiazui,16-25K,About He Network Technology,Computer software does not require financing ...,3-5 years undergraduate,network programming,NaN
2,2,Dalian,10-15K,Sibaiyi,Computer software does not require financing ...,1-3 years of education is not limited,MongoDB,"Overtime allowance, paid annual leave, transp..."
3,3,"Beijing, Haidian District, Northwest Wang",20-35K 15 salary,Poplar era,Data services do not require financing for 10...,3-5 years undergraduate,Go,"Housing subsidy, supplementary medical insuran..."
4,4,Shanghai·Yangpu District·Yanji,50-60K 18 salary,Le fashion,E-commerce unfinanced 0-20 people,3-5 years undergraduate,data structure,"Overtime allowance, snack afternoon tea, empl..."
...,...,...,...,...,...,...,...,...
273,273,Yinchuan·Xixia District·West Garden,5-10K,Torch Point Brand Group,Internet B round 1000-9999 people,1-3 years undergraduate,PHP,"Five insurances and one housing fund, employe..."
274,274,"Shanghai, Xuhui District, Caohejing",12-24K,Hi Game Technology,The game is not financed 20-99 people,3-5 years junior college,PHP,"Transportation allowance, supplementary medic..."
275,275,Kunming · Guandu District · Economic Developm...,2-3K,reset technology,Internet unfinanced 0-20 people,1-3 years undergraduate,PHP,NaN
276,276,Xuzhou·Yunlong District·Shimao Plaza,5-9K,Valley Software,Computer software unfinanced 20-99 people,Unlimited experience Unlimited education,Web front end,"Afternoon tea with snacks, stock options, emp..."
277,277,Foshan Shunde District Daliang,4-8K,Xiangda Technology,Internet unfinanced 0-20 people,1-3 years college,PHP,"Year-end bonus, paid annual leave"

In [67]:
dfjava.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  262 non-null    int64
 1   title       262 non-null    object
 2   salary      262 non-null    object
 3   cop_name    262 non-null    object
 4   cop_info    262 non-null    object
 5   exprence    262 non-null    object
 6   tags        262 non-null    object
 7   welfare     226 non-null    object
dtypes: int64(1), object(7)
memory usage: 16.5+ KB

In [69]:
data = pd.concat([dfc, dfgo,dfpy,dfphp],axis=0)

In [80]:
data = data.drop(['index'],axis=1)

In [81]:
data

,title,salary,cop_name,cop_info,exprence,tags,welfare
0,Shanghai Xuhui District Xujiahui,15-25K,Micro Technology,Internet A round 20-99 people,3-5 years undergraduate,C/C++,"Year-end bonus, five social insurances and on..."
1,Shanghai Pudong New Area Lujiazui,16-25K,About He Network Technology,Computer software does not require financing ...,3-5 years undergraduate,network programming,NaN
2,Dalian,10-15K,Sibaiyi,Computer software does not require financing ...,1-3 years of education is not limited,MongoDB,"Overtime allowance, paid annual leave, transp..."
3,"Beijing, Haidian District, Northwest Wang",20-35K 15 salary,Poplar era,Data services do not require financing for 10...,3-5 years undergraduate,Go,"Housing subsidy, supplementary medical insuran..."
4,Shanghai·Yangpu District·Yanji,50-60K 18 salary,Le fashion,E-commerce unfinanced 0-20 people,3-5 years undergraduate,data structure,"Overtime allowance, snack afternoon tea, empl..."
...,...,...,...,...,...,...,...
1153,Yinchuan·Xixia District·West Garden,5-10K,Torch Point Brand Group,Internet B round 1000-9999 people,1-3 years undergraduate,PHP,"Five insurances and one housing fund, employe..."
1154,"Shanghai, Xuhui District, Caohejing",12-24K,Hi Game Technology,The game is not financed 20-99 people,3-5 years junior college,PHP,"Transportation allowance, supplementary medic..."
1155,Kunming · Guandu District · Economic Developm...,2-3K,reset technology,Internet unfinanced 0-20 people,1-3 years undergraduate,PHP,NaN
1156,Xuzhou·Yunlong District·Shimao Plaza,5-9K,Valley Software,Computer software unfinanced 20-99 people,Unlimited experience Unlimited education,Web front end,"Afternoon tea with snacks, stock options, emp..."
1157,Foshan Shunde District Daliang,4-8K,Xiangda Technology,Internet unfinanced 0-20 people,1-3 years college,PHP,"Year-end bonus, paid annual leave"

In [91]:
data.to_csv("data.csv")